.white-box {
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 1px #eee;
  margin-bottom: 10px;
}

.row-center {
  margin: auto;
}

.br-2 {
  border-right: 1px solid #333;
}
.pl-20 {
  padding-left: 40px;
}

p {
  /* line-height: 16px; */
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.pt-40 {
  padding-top: 0px;
}

.header-top-info p {
  font-weight: 600;
}
.white-badge span {
  padding: 5px 15px 8px 15px;
  margin: 0 5px;
  border: 1px solid #858585;
  border-radius: 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .br-2 {
    border: none;
  }
  .pl-20 {
    padding-left: 3px;
  }
  .pt-40 {
    padding-top: 40px;
  }
  .hidden-box {
    display: none;
  }
}
